@model PagedList.IPagedList<HiTech.Model.Entites.Supplier>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Quản lý nhà cung cấp";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<p>
    @using (Html.BeginForm("Index", "Supplier", FormMethod.Get))
    {
        <div class="input-group  col-lg-4" style="margin:20px;">
            @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Nhập từ khóa..." })
            <span class="input-group-btn">
                <button type="submit" class="btn btn-info btn-flat">Tìm kiếm</button>
            </span>
        </div>
    }
</p>
@using (Html.BeginForm("DeleteAll", "Supplier", FormMethod.Post))
{
    <p style="margin-left:20px; ">
        <a href="@Url.Action("Create", "Supplier")" data-toggle="tooltip" class="btn btn-primary " title="Thêm mới">
            <i class="fa fa-plus"></i>
        </a>

        <button type="submit" onclick='return confirm("Bạn có chắn chắn muốn xóa?");' class="btn btn-danger" data-toggle="tooltip" title="Xóa">
            <i class="fa fa-trash-o"></i>
        </button>


    </p>

    <table class="table">
        <tr>
            <th class="col-md-1 text-center ">

                <input type="checkbox" id="CheckboxAll" />
            </th>
            <th>
                Công ty
            </th>
            <th>
                Người đại diện
            </th>
            <th>
                Nội dung
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.CheckBox("supplierID", new { value = item.SupplierID, @class = "CheckboxID" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContacTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="text-center" style="vertical-align:middle;">
                    <a href="@Url.Action("Edit", "Supplier", new { id = item.SupplierID })" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Chỉnh sửa">
                        <i class="fa fa-pencil"></i>
                    </a>

                    <a href="@Url.Action("Details", "Supplier", new { id = item.SupplierID })" data-toggle="tooltip" title="" class="btn btn-info" data-original-title="Chi tiết">
                        <i class="fa fa-info-circle"></i>
                    </a>
                </td>
            </tr>
        }

    </table>
    <br />
    <p>
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter })
                      , new PagedListRenderOptions {
                          DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                          DisplayLinkToLastPage = PagedListDisplayMode.Always,
                          DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                          DisplayLinkToNextPage = PagedListDisplayMode.Always,
                         MaximumPageNumbersToDisplay=5
        })
    </p>

}
@section supplierCheckDeleteAll{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#CheckboxAll').click(function () {
                if ($(this).is(":checked")) {
                    $('.CheckboxID').prop("checked", true);
                }
                else {
                    $('.CheckboxID').prop("checked", false);
                }
            })

        })

    </script>
}