
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HiTech Shop</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/CSS/StyleSheet.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Swiper/Css/OpenCart.css" rel="stylesheet" />
    <link href="~/Content/Swiper/Css/swiper.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Content/js/common.js"></script>
</head>
<body id="body">
    <nav id="top">
        <div class="container">
            <div id="top-links" class="nav pull-right">
                @Html.Partial("~/Views/TrangChu/_PartialLogin.cshtml")

            </div>
        </div>

    </nav>
    <header>
        <div class="container">

            <div class="row">
                <div class="col-sm-4">
                    <div id="logo">
                        <h1><a href="@Url.Action("Index","TrangChu")">HiTech Shop</a></h1>
                    </div>
                </div>
                <div class="col-sm-5">
                    @Html.Partial("~/Views/TrangChu/_PartialSearch.cshtml")

                </div>
                <div class="col-sm-3" id="giohang">
                    @Html.Partial("~/Views/TrangChu/_PartialCart.cshtml")
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        @Html.Action("_PartialMenuClient", "TrangChu")

    </div>
    <div class="container">
        @RenderBody()
    </div>

    <footer>
        <div class="container">
            <div class="container">

                <p>Địa chỉ cửa hàng: 12 đường Cách Mạng Tháng Tám, Phường 3, Quận 1</p>
                <p>Số điện thoại: 033212123</p>
                <hr />
            </div>
        </div>
    </footer>
    <script src="~/Areas/Admin/Script/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Scripts/MicrosoftAjax.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="~/Content/js/jquery.shorten.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("loadpage", required: false)
    @RenderSection("addToCart",required:false)
    <script>
        $(document).ready(function () {
            $("#myBtn").click(function () {
                $("#myModal").modal();
            });
        });
    </script>

</body>
</html>


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
                <form role="form">
                    <div class="form-group">
                        <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
                        <input type="text" class="form-control" id="usrname" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                        <input type="text" class="form-control" id="psw" placeholder="Enter password">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" checked>Remember me</label>
                    </div>
                    <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                <p>Not a member? <a href="#">Sign Up</a></p>
                <p>Forgot <a href="#">Password?</a></p>
            </div>
        </div>

    </div>
</div>
</div>