@model IEnumerable<HiTech.Web.Models.ItemCart>
@using HiTech.Model.Entites

@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@{
    var cart = Session["Cart"] as List<HiTech.Web.Models.ItemCart>;
    var customer = Session["Customer"] as Customer;

}

<div class="row">
    <div id="checkout-cart">
        @Html.Partial("_UpdateQuantity")
    </div>
    @if (cart != null)
    {


        if (customer == null)
        {
            <div class="col-md-4" style="box-shadow: 1px 0 0 #e1e1e1 inset;background-color:#fcfafa;">
                @using (Html.BeginForm("Pay", "Cart", FormMethod.Post))
                {
                    <div class="form-horizontal" style="width:90%; margin:auto;">
                        <h2>Thông tin người dùng</h2>
                        <hr />
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.TextBox("CustomerName", null, new { @class = "form-control", @aria_describedby = "sizing-addon1", @placeholder = "Họ và tên", @required = "true" })
                        </div>


                        <div class="form-group ">

                            @Html.TextBox("Address", null, new { @class = "form-control", @placeholder = "Địa chỉ giao hàng", @required = "true" })


                        </div>

                        <div class="form-group">

                            @Html.TextBox("Phone", null, new { @class = "form-control", @placeholder = "Số điện thoại", @required = "true" })

                        </div>

                        <div class="form-group">


                            @Html.TextBox("Email", null, new { @class = "form-control", @placeholder = "Email" })

                        </div>
                        <div class="form-group">

                            @Html.TextArea("Description", null, new { @class = "form-control", @placeholder = "Ghi chú" })

                        </div>

                        <div class="form-group">

                            <input type="submit" value="Đặt hàng" class="btn btn-primary" />

                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="col-md-4" style="box-shadow: 1px 0 0 #e1e1e1 inset;background-color:#fcfafa;">
                @using (Html.BeginForm("Pay", "Cart", FormMethod.Post))
                {
                    <div class="form-horizontal" style="width:90%; margin:auto;">
                        <h2>Thông tin người dùng</h2>
                        <hr />
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        @Html.Hidden("CustomerID", customer.CustomerID)

                        <label class="control-label">Họ và tên:</label>

                        <div class="form-group">
                            @Html.TextBox("CustomerName", customer.CustomerName, new { @class = "form-control", @aria_describedby = "sizing-addon1", @placeholder = "Họ và tên", @required = "true" })
                        </div>


                        <label class="control-label">Địa chỉ:</label>
                        <div class="form-group ">

                            @Html.TextBox("Address", customer.Address, new { @class = "form-control", @placeholder = "Địa chỉ giao hàng", @required = "true" })


                        </div>

                        <label class="control-label">Số điện thoại:</label>
                        <div class="form-group">

                            @Html.TextBox("Phone", customer.Phone, new { @class = "form-control", @placeholder = "Số điện thoại", @required = "true" })

                        </div>

                        <label class="control-label">Email:</label>
                        <div class="form-group">


                            @Html.TextBox("Email", customer.Email, new { @class = "form-control", @placeholder = "Email" })

                        </div>

                        <label class="control-label">Ghi chú:</label>
                        <div class="form-group">

                            @Html.TextArea("Description", null, new { @class = "form-control", @placeholder = "Ghi chú" })

                        </div>

                        <div class="form-group">

                            <input type="submit" value="Đặt hàng" class="btn btn-primary" />

                        </div>
                    </div>
                }
            </div>
        }
    }
</div>

@*<div class="alert alert-danger alert-dismissible">
        <i class="fa fa-exclamation-circle"></i> Products marked with *** are
        not available in the desired quantity or not in stock!
        <button type="button" class="close" data-dismiss="alert">×</button>
    </div>*@


@section loadpage{

    <script type="text/javascript">
        $(document).ready(function () {
            window.addEventListener("pageshow", function (event) {
                var historyTraversal = event.persisted ||
                    (typeof window.performance != "undefined" &&
                        window.performance.navigation.type === 2);
                if (historyTraversal) {
                    // Handle page restore.
                    window.location.reload();
                }
            });

            $("#giohang").hide();
        });
    </script>

}


