@model IEnumerable<HiTech.Model.Entites.Order>

@{
    ViewBag.Title = "Đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin đơn hàng</h2>


<table class="table" id="orderTinhTrang">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipAddress)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Tình trạng
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

      
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipAddress)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>

                @Html.DisplayFor(modelItem => item.State.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.OrderID }) |
                @Html.ActionLink("Details", "Details", new { id = item.OrderID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.OrderID })
            </td>
        </tr>
    }

</table>
